IDD_DEBUG DIALOGEX 0, 0, 704, 299
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Pharo Debug"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Log File:",IDC_STATIC,8,11,29,8
    EDITTEXT        IDC_LOGFILE,40,7,657,16,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Dump Call Stack",IDC_CALLSTACK,121,28,90,17
    PUSHBUTTON      "Dump All Stacks",IDC_ALLSTACKS,223,28,90,17
    EDITTEXT        IDC_LOGTEXT,7,51,690,241,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
    LTEXT           "Trace Level:",IDC_STATIC,7,32,42,8
    COMBOBOX        IDC_LOGLEVEL,54,30,57,14,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END
