IDD_DEBUG DIALOGEX 0, 0, 704, 299
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Pharo Debug"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Log File:",IDC_STATIC,8,11,29,8
    EDITTEXT        IDC_LOGFILE,40,7,622,16,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Dump Call Stack",IDC_CALLSTACK,121,28,90,17
    PUSHBUTTON      "Dump All Stacks",IDC_ALLSTACKS,223,28,90,17
    LTEXT           "Trace Level:",IDC_STATIC,7,32,42,8
    COMBOBOX        IDC_LOGLEVEL,54,30,57,14,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Open",IDC_OPENLOG,662,7,35,17
    GROUPBOX        "",IDC_STATIC,7,49,690,243
    EDITTEXT        IDC_LOGTEXT,9,57,675,235,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_HSCROLL
    SCROLLBAR       IDC_LOGTEXT_SCROLL,683,55,13,237,SBS_VERT
END
